<html>
    <head>
        <title>
            UnicTime
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>

         <div class = "logo-header">
            <h1 class = "logo-unic-header">Unic</h1>
            <h1>Time</h1>
         </div>

         <div id="menu-header">
            <ul id="menu-header-ul">
                <li id="inicio-header">
                    <a href="">Inicio</a>
                </li>
                <li id="stock-header">
                    <a href="">Stock</a>
                </li>
                <li id="personalizacion-header">
                    <a href="">Personalizacion</a>
                </li >
                <li id="nosotros-header">
                    <a href="">Nosotros</a>
                </li >
                <li id="contacto-header" >
                    <a  href="">Contacto</a>
                </li>
            </ul>
         </div>

        </header>

        <main>
            <div class="intro">
                <div class="intro-texto">
                    <p>RELOJERIA PERSONALIZADA</p>

                    <p>Tiempo Único, </p>
                    <p>Estilo a Tu Medida</p>

                    <P>Transformamos relojes Seiko clásicos en piezas 
                        únicas que <br>reflejan tu personalidad. Cada modificación 
                        es una obra de <br>arte funcional.</P>
                </div>>

                <div class="intro-imagen">

                </div>
            </div>
        </main>

    </body>
</html>