@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

:root {
    --color-dorado: oklch(0.795 0.184 86.047);
    --color-dorado-oscuro: oklch(0.681 0.162 75.834);
    --color-dorado-claro: oklch(0.852 0.199 91.936);
    --color-gray-50: oklch(.985 .002 247.839)
    --color-gray-100: oklch(.967 .003 264.542)
    --color-gray-200: oklch(.928 .006 264.531)
    --color-gray-300: oklch(.872 .01 258.338)
    --color-gray-400: oklch(.707 .022 261.325)
    --color-gray-500: oklch(.551 .027 264.364)
    --color-gray-600: oklch(.446 .03 256.802)
    --color-gray-700: oklch(.373 .034 259.733)
    --color-gray-800: oklch(.278 .033 256.848)
    --color-gray-900: oklch(.21 .034 264.665)
    --color-gray-950: oklch(.13 .028 261.692)
    --Red-800: oklch(0.444 0.177 26.899)
}

body {
    background-color: #ffffffff;
}

header {
    background-color: #ffffffff;
    padding: 0.0001% 0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;          /* Lo coloca en la parte superior */
    left: 0;         /* Alineado a la izquierda */
    width: 100%;  
}

main {
    margin-top: 70px; /* Ajusta este valor según la altura de tu header */
}

#menu-header {
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 37.5%;
    border-radius: 30px;
    margin: 8px 0;
    margin-top: 1px;
}

.logo-header{
    display: flex;
    align-items: center;
    font-size: 80%;
    margin-right: 18.8%;
    margin-left: 5%;
}

.logo-header h1 {
    font-weight: 400;
}

.logo-unic-header {
    color: #b8941f;
}

#menu-header-ul {
    display: flex;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-header-ul a{
    text-decoration: none;
    color:  #404040;
}

#inicio-header {
    margin-right: 10%;
    margin-left: 8%;
    text-decoration: none;
}

#stock-header {
    margin-right: 10%;
}

#personalizacion-header {
    margin-right: 10%;
}

#nosotros-header {
    margin-right: 10%;
}

#contacto-header {
    margin-right: 7%;
}

.intro-texto {
    margin-top: 8.1%;
    margin-left: 4.5%;
}

.intro-texto-uno {
    color: var(--color-dorado-oscuro);
    font-weight: 540;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -2%;
}

.intro-texto-dos {
    font-size: 350%;
    /*font-weight: 600;*/
    margin-bottom: -3.5%;
}

.intro-texto-tres {
    display: inline-block;            /* Asegura que la línea solo ocupe el ancho del texto */
    color: var(--color-dorado-oscuro);
    font-size: 350%;
    padding-bottom: 3px;              /* Espacio entre texto y línea */
    border-bottom: 5px solid var(--RED-800); /* Línea debajo del texto */
    margin-bottom: 0%;
}

.intro-texto-cuatro {
    color:  #404040;;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 115%;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 2%;
    max-width: 50%;    /* Ajusta el valor según el ancho que prefieras */
    white-space: normal; /* Permite el salto de línea automático */
    overflow-wrap: break-word; /* Evita que palabras largas desborden */
    text-align: justify;
}

